@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.2rem;
  }
}

@media (max-width: 75em) {
  .html {
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.4rem;
  }

  .heading-tertiary {
    font-size: 2.2rem;
  }

  .grid {
    gap: 8rem;
  }

  .main-nav-list {
    gap: 4rem;
  }

  .header {
    padding: 0 4.2;
  }
}

@media (max-width: 67em) {
  .html {
    font-size: 50%;
  }

  .header {
  }

  .hero {
    grid-template-columns: 1fr;

    padding: 2rem;
  }

  .hero-description {
    text-align: center;
  }

  .hero-image {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
}
