* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.section-hero {
  background-color: rgb(187, 242, 175);
  text-align: center;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
  text-align: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.7;
  margin-bottom: 4rem;
  text-align: center;
}

.hero-image {
  width: 100%;
}
